<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Pet Owners</title>
</head>
<body>
<!--/*@thymesVar id="vet" type="guru.springframework.sfgclient.model.Owner"*/-->
<h1 th:text="'List of Owners'">List of Owners</h1>
<table>
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    <tr th:each="owner:${owners}">
        <td th:text="${owner.getId()}">Id</td>
        <td th:text="${owner.getFirstName()}">Name</td>
        <td th:text="${owner.getLastName()}">Surname</td>
    </tr>
</table>
</body>
</html>